<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="APIAutomationFramework">
        <classes>
            <class name="org.automation.com.tests.crud.createBookingPost_Test">
            <methods><include name="createBookingTest"/></methods>
            </class>

            <class name="org.automation.com.tests.crud.getBookingPost_Test"></class>
        </classes>
    </test>
</suite>